/****
RESET
****/

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    list-style-type: none;
    text-decoration: none;
}

/*****
HEADER
*****/

header {
    background-image: url(images/dock.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 40opx;
}

nav-links {
    width: 100%;
}

nav-links a {
    width: 15%;
    display: inline-block;
}

.site-title {
    width: 40%;
    display: inline-block;
}

/***********
MAIN CONTENT
***********/

html {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: black;
}

/*****
FOOTER
*****/

/************
MEDIA QUERIES
************/

@media (min-width: 769px) {
    main,
    footer {
        width: 100%;
    }
}