/****
RESET
****/

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    list-style-type: none;
    text-decoration: none;
}

/*****
HEADER
*****/

header {
    background-image: url(images/dock.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 73%;
    height: 610px;
    color: white;
    border-bottom: 4px solid #7a5422;
    position: relative;
}

h1 {
    font-weight: 900;
    font-size: 90px;
    padding-bottom: 160px;
}

.nav-links {
    height: 100%;
    display: inline;
}

.nav-links a {
    color: white;
    font-size: 19px;
    padding: 0px 15px;
}

.nav-links a:hover {
    border-right: 2px solid white;
    border-left: 2px solid white;
}

.nav-links li {
    width: 25%;
    float: left;
}

.go-to-bottom {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
}

/***********
MAIN CONTENT
***********/

html {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: black;
}

/*****
FOOTER
*****/

/************
MEDIA QUERIES
************/

@media (min-width: 769px) {
    main,
    footer {
        width: 100%;
    }
}